
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


#header{
    color:maroon;
    text-align:center;
    padding-top: 50px
}

body{
    background-color:#FF57;
}

img{
    padding:2px;
    height:150px;
    
}

#secondpara{
    border:maroon dotted 7px;
    padding-top:10px;
    padding-bottom:10px;
}


#header2{
    font-family: Courier
}

#secondpara{
    font-family:Arial, sans-serif;
    font-style: italic;
    font-style: oblique;
    font-weight: bold;
}

#header3{
    font-family:Arial, sans-serif;
    font-style: italic;
    font-style: oblique;
    font-weight: bold;
}

#thirdpara{
    

#header4{
    font-family:Arial, sans-serif;
    font-style: italic;
    font-style: oblique;
    font-weight: bold;
}

#fourthpara{
    font-family:Arial, sans-serif;
    font-style: italic;
    font-style: oblique;
    font-weight: bold;
}

#fifthpara{
    font-family:Arial, sans-serif;
    font-style: italic;
    font-style: oblique;
    font-weight: bold;
}
